<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Panel</title>  

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<style type="text/css">
  html,
body {
  height: 100%;
  background-color: #f3ece7;
}

.sidenav {
  height: 100%;
  width: 30%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #bfd8d5;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: solid;
  border-color: #b1b1b1;
  border-width: 5px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 32%;
  margin-right: 2%;
  font-size: 15px;
  color: #444444;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 30%;
  background-color: black;
  color: white;
  text-align: center;
}

input[type=text] {
  height: 30px;
  width: 130px;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 80%;
}

::-webkit-input-placeholder {
   text-align: center;
}

.table-responsive {
    max-height: 550px;
    border-style: solid;
    border-color: grey;
}

</style>
  </head>

  <body>
      <div class="sidenav" style="text-align:center; color: black">
          <h1 style="text-align:center; color: #33313b; margin-bottom: 10px">Transaction Log & Filter</h1>
          
    
        <form action="/filter" method="post">
    
      <!-- date range picker -->
    <div>
      <p style="color: #33313b; font-size: 12pt">View by range:</p>
      <input type="datetime" name="daterange" style ="width: 50%;"  value="01/01/2018|01/15/2018" />

<script>
$(function() {
  $('input[name="daterange"]').daterangepicker({
    opens: 'right'
  });
});
</script>


    </div>
      <!-- date range picker end -->
      
       <!-- Min max filter -->
      <div style="margin-top: 10px">
        <p style="color: #33313b; font-size: 12pt">Filter transactions by price:</p>
        
        <div class="form-group row text-right">
  <label class="col-5 col-form-label">Min</label>
  <div class="col-5">
    <input class="form-control" type="number" name="minVal" value="0">
  </div>
        </div>
          
                  <div class="form-group row text-right">
  <label class="col-5 col-form-label">Max</label>
  <div class="col-5">
    <input class="form-control" type="number" name="maxVal" value="9999">
  </div>
        </div>
          
</div>
        
      <!-- Min max filter end -->
      

      <div class="panel panel-default" style="margin-left:10px; margin-right:10px; margin-top: 20px">
        <div class="panel-heading" style="font-size:15px; background-color: #33313b; color: white">Stats Panel for filter</div>
  <div class="panel-body" style="background-color: #dfdfdf">Panel for Stat Information</div>
  <div class="panel-body" style="background-color: #dfdfdf">Count:   <%= print.length %> </div>
  <div class="panel-body" style="background-color: #dfdfdf">Average Amount:  <%=  average  %></div>
  <div class="panel-body" style="background-color: #dfdfdf">Total Amount:  <%=  total  %>   </div>

</div>
      
   
      
      <!-- Search filter -->
      <div style="margin-top: 20px">
      <input type="text" name="search" placeholder="Search by Name">
      </div>
      <!-- Search filter end -->
    
      <button type="submit" id="searchButton" class="btn btn-primary btn-lg" style="width: 50%; margin-top: 40px">Filter</button>
    </form>

      <!-- logout module -->
      <form class="form-actions" action="/logout" method="post" style="margin-top:10px">
    <button type="submit" id="logout" class="btn btn-danger btn-lg" style="width: 50%">Log out</button>
      </form>
      
      
      <!-- logout module end -->
      
      
<div class="footer">
  <p style="font-size:12px; vertical-align: center; padding-top: 5px">Transil Technologies Private Limited</p>
</div>
</div>

    <!-- Main Body -->
<div class="main" style="position: fixed; top: 0; width: 67%">
  <h2 style="margin-top: 20px; margin-bottom: 20px">Database Records</h2>
  
  
  <div class="table-responsive" style="height: 80%; margin-top: 10px">
            <table class="table table-bordered table-sm table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>ID</th>
                  <th>Account Number</th>
                  <th>Time</th>
                  <th>Name</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                  <% print.forEach(function (user) { %>
                    <tr>  
                        <td><%= user.id %></td>  
                        <td><%= user.account %></td>
                        <td><%= user.time %></td>  
                        <td><%= user.name %></td>  
                        <td><%= user.amount %></td>  
                      </tr>                                   
                 <% }) %>
              </tbody>
            </table>
          </div>
  
</div>
    <!-- End of main body -->
    
    
  </body>


</html>
